html {
    font-size: 62.5%;
}

* {
    border-style: border-box;
}

body {
    background-color: #F5F8FF;
    min-height: 100vh;
    font-family: 'Inter';
    margin: 0;
    display: grid;
    place-content: center;
}

.bg-img {
    background-image: url(../assets/Bg1.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(25%);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -3;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 265px;
    padding: 6.5em 5.2em 6.4em 4.7em;
    background-color: white;
    border: 2px solid black;
    border-radius: 3em;
    gap: 4.6em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #303030;
    opacity: .5;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    z-index: -2;
    top: 0;
    left: 0;
}

.save-el {
    padding: 10px;
    line-height: 145.2%;
    font-size: 20px;
    text-align: left;
    color: #1469c5;
}

main::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    opacity: .5;
    background-color: #E7EEFC;
    border-radius: 50%;
    transition: all 0.3s ease;
    z-index: -1;
    transform: translate(-50%, -50%);
}

main:hover::before {
    width: 464px;
    height: 464px;
}

main:hover .wrapper {
    transform: scale(1.05);
}

h1, p{
    margin: 0;
}

.counter {
    padding: 10px;
    font-size: 60px;
    text-align: center;
    color: #1469c5;

}

.item {
    display: flex;
    justify-content: space-between;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-size: 2em;
    border-radius: 1rem;
}

.done {
    position: relative;
    display: inline-block;
    padding: 1.4rem 3.5rem;
    background-color: #272C59;
    color: white;
    background-size: 0% 100%;
}

.done:hover {
    background: linear-gradient(to right, #1469c5, #1469c5) no-repeat;
    background-size: 100% 100%;
    transition: color 0.3s ease, background-size 0.3s ease;
}

.cancel {
    position: relative;
    display: inline-block;
    padding: 1.4rem 2.7rem;
    background-color: #F5F8FF;
    border: 1px solid #E4E4E4;
    background-size: 0% 100%;
}

.cancel:hover {
    color: white;
    background: linear-gradient(to right, #1469c5, #1469c5) no-repeat;
    background-size: 100% 100%;
    transition: color 0.3s ease, background-size 0.3s ease;
}